{{ 'component-discount-coupon.css' | asset_url | stylesheet_tag }}

<div class="container">
  <section class="container-title-banner" id="background-image">
    <div class="info-discount">
      <main>
        <div id="main-title">
          <span>{{ section.settings.main_title }}</span>
        </div>

        <div id="secondary-title">
          <p>{{ section.settings.secondary_title }}</p>
        </div>
      </main>

      <div id="info-container">
        <h2>{{ section.settings.text_h2 }}</h2>
        <span>{{ section.settings.text_span }}</span>

        <button id="access-link">{{ section.settings.text_button }}</button>
      </div>
    </div>
  </section>

  <main id="coupons-container">
    <section id="coupon">
      <div>
        <div id="container-content">
          <p>CUPOM DE ATÉ</p>
          <span id="container-discount">
            <p id="number-discount">5</p>
            <span id="porcentage">%</span>
          </span>
        </div>

        <span>DE DESCONTO</span>
      </div>

      <div id="coupon-name">
        <p>USE: VSMERECE</p>
      </div>
    </section>

    <section id="coupon">
      <div>
        <div id="container-content">
          <p>CUPOM DE ATÉ</p>
          <span id="container-discount">
            <p id="number-discount">10</p>
            <span id="porcentage">%</span>
          </span>
        </div>

        <span>DE DESCONTO</span>
      </div>

      <div id="coupon-name">
        <p>USE: VSMERECE</p>
      </div>
    </section>

    <section id="coupon">
      <div>
        <div id="container-content">
          <p>CUPOM DE ATÉ</p>
          <span id="container-discount">
            <p id="number-discount">15</p>
            <span id="porcentage">%</span>
          </span>
        </div>

        <span>DE DESCONTO</span>
      </div>

      <div id="coupon-name">
        <p>USE: VSMERECE</p>
      </div>
    </section>

    <section id="coupon">
      <div>
        <div id="container-content">
          <p>CUPOM DE ATÉ</p>
          <span id="container-discount">
            <p id="number-discount">20</p>
            <span id="porcentage">%</span>
          </span>
        </div>

        <span>DE DESCONTO</span>
      </div>

      <div id="coupon-name">
        <p>USE: VSMERECE</p>
      </div>
    </section>
  </main>
</div>

{% schema %}
  {
    "name": "Imagem de fundo",
    "settings": [
      {
        "id": "background_image",
        "type": "image_picker",
        "label": "Escolha 1 imagem de fundo"
      },
      {
        "id": "text_h2",
        "type": "richtext",
        "label": "Informe um título",
        "default": "A GENTE SABE QUE VOCÊ AMA CUPOM!"
      },
      {
        "id": "text_span",
        "type": "text",
        "label": "Informe um texto",
        "default": "Por isso, preparamos vários deles para você aproveitar nossas ofertas com ainda mais desconto."
      },
      {
        "id": "text_button",
        "type": "text",
        "label": "Informe um título para o botão",
        "default": "VEM CÁ!"
      }, {
        "id": "main_title",
        "type": "text",
        "label": "Título Principal",
        "default": "CHUVA DE"
      }, {
        "id": "secondary_title",
        "type": "text",
        "label": "Título Secundário",
        "default": "CUPOM"
      }, {
        "id": "text_h2",
        "type": "richtext",
        "label": "Informe um título",
        "default": "A GENTE SABE QUE VOCÊ AMA CUPOM!"
      }, {
        "id": "text_span",
        "type": "text",
        "label": "Informe um texto",
        "default": "Por isso, preparamos vários deles para você aproveitar nossas ofertas com ainda mais desconto."
      }
    ],
    "presets": [
      {
        "name": "Imagem de fundo cupom de desconto",
        "category": "Coupon Discount"
      }
    ]
  }
{% endschema %}