{{ 'component-discount-coupon.css' | asset_url | stylesheet_tag }}

<style>
  #background-image {
    background-image: url('{{ section.settings.background_image | image_url }}');
    background-size: 100% 73%;
  }
</style>

<div class="container">
  <section class="container-title-banner" id="background-image">
    <div class="info-discount">
      <main>
        <div id="main-title">
          <span>{{ section.settings.main_title }}</span>
        </div>

        <div id="secondary-title">
          <p>{{ section.settings.secondary_title }}</p>
        </div>
      </main>

      <div id="info-container">
        <h2>{{ section.settings.text_h2 }}</h2>
        <span>{{ section.settings.text_span }}</span>

        <a href={{ section.settings.button_link }}>
          <button id="access-link">{{ section.settings.text_button }}</button>
        </a>
      </div>
    </div>
  </section>

  <main id="coupons-container">
    {% for block in section.blocks %}
      <section id="coupon">
        <div>
          <div id="container-content">
            <p>CUPOM DE ATÉ</p>
            <span id="container-discount">
              <p id="number-discount">{{ block.settings.percentage }}</p>
              <span id="porcentage">%</span>
            </span>
          </div>

          <span>DE DESCONTO</span>
        </div>

        <div id="coupon-name">
          <p>USE: {{ block.settings.coupon_name }}</p>
        </div>
      </section>
    {% endfor %}
  </main>
</div>

{% schema %}
  {
    "name": "Imagem de fundo",
    "tag": "section",
    "max_blocks": 4,
    "settings": [
      {
        "id": "background_image",
        "type": "image_picker",
        "label": "Escolha 1 imagem de fundo"
      },
      {
        "id": "text_h2",
        "type": "richtext",
        "label": "Informe um título",
        "default": "<p>A GENTE SABE QUE VOCÊ AMA CUPOM!</p>"
      },
      {
        "id": "text_span",
        "type": "text",
        "label": "Informe um texto",
        "default": "Por isso, preparamos vários deles para você aproveitar nossas ofertas com ainda mais desconto."
      },
      {
        "id": "text_button",
        "type": "text",
        "label": "Informe um título para o botão",
        "default": "VEM CÁ!"
      }, {
        "id": "button_link",
        "type": "url",
        "label": "Informe um link",
        "default": ""
      }, {
        "id": "main_title",
        "type": "text",
        "label": "Título Principal",
        "default": "CHUVA DE"
      }, {
        "id": "secondary_title",
        "type": "text",
        "label": "Título Secundário",
        "default": "CUPOM"
      }
    ],
    "blocks": [
      {
        "name": "Coupons",
        "type": "repeater",
        "settings": [
          {
            "id": "percentage",
            "type": "text",
            "label": "Informe o percentual de desconto"
          }, {
            "id": "coupon_name",
            "type": "text",
            "label": "Informe o nome do cupom",
            "default": "CUPOM"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Imagem de fundo cupom de desconto",
        "category": "Coupon Discount"
      }
    ]
  }
{% endschema %}