{{ 'component-discount-coupon.css' | asset_url | stylesheet_tag }}

<style>
  #background-image {
    background-image: url('{{ section.settings.background_image | image_url }}');
  }
</style>

<div class="container">
  <section class="container-title-banner" id="background-image">
    <div class="info-discount">
      <main>
        <div id="main-title">
          <span>CHUVA DE</span>
        </div>

        <div id="secondary-title">
          <p>CUPOM</p>
        </div>
      </main>

      <div id="info-container">
        <h2>{{ section.settings.text_h2 }}</h2>
        <span>{{ section.settings.text_span }}</span>

        <button id="access-link">{{ section.settings.text_button }}</button>
      </div>
    </div>
  </section>
</div>

{% schema %}
  {
    "name": "Imagem de fundo",
    "settings": [
      {
        "id": "background_image",
        "type": "image_picker",
        "label": "Escolha 1 imagem de fundo"
      },
      {
        "id": "text_h2",
        "type": "richtext",
        "label": "Informe um título",
        "default": "<p>A GENTE SABE QUE VOCÊ AMA CUPOM!</p>"
      },
      {
        "id": "text_span",
        "type": "text",
        "label": "Informe um texto",
        "default": "Por isso, preparamos vários deles para você aproveitar nossas ofertas com ainda mais desconto."
      },
      {
        "id": "text_button",
        "type": "text",
        "label": "Informe um título para o botão",
        "default": "VEM CÁ!"
      }
    ],
    "presets": [
      {
        "name": "Imagem de fundo cupom de desconto",
        "category": "Coupon Discount"
      }
    ]
  }
{% endschema %}